#container {

  font-family: Verdana, DejaVu Sans, Bitstream Vera Sans, Geneva, sans-serif;
  margin-top: 5%;

  .form {
    text-align: center;
  }

  .form-group {
    margin-top: 45px;
  }

  p{
    margin-top: 45px;
    text-align: center;
  }


}
