<div id="container">
  <div >
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form">
        <div class="form-group">
          <p>request number</p>
          <input type="text" formControlName="requestNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.requestNumber.errors }" (focus)="resetForm()"/>
        </div>

        <div class="form-group">
          <button class="btn" >Submit</button>
        </div>
      </form>
  </div>

  <p>
    {{apiResult}}
  </p>

</div>
